# 02 Python Basics
* useful webiste to [learn python basics](https://www.programiz.com/python-programming)

## Getting Started

In [1]:
print("Hello World!")

Hello World!

### Types

* you can create a comment using `#`

In [2]:
a = 10   # int
b = 1.1  # float
c = 12e3 # float
d = 5.4j # compelx
e = "cool string" # string
f = True  # boolean
g = False # boolean
h = None # special variable that indicates a missing value

# print statements
print("a:", a)
print("b:", b)
print("c:", c)
print("d:",d)
print("e:",e)
print("f:",f)
print("g:",g)

a: 10
b: 1.1
c: 12000.0
d: 5.4j
e: cool string
f: True
g: False

The Variables still exist in the next cell!

In [5]:
print(a)

10

The last line of a code cell is special. It will print whatever
the expression on the last line evaluates to!

In [6]:
a

10

We can check what type the variable is!

In [7]:
type(a)

int

In [8]:
isinstance(a,int)

True

By putting multiple arguments into a print statement, all of the arguments will be printed sepperated by a space.

In [9]:
print("Check out", "the number:", 5)

Check out the number: 5

### Math Operaters
| +  | addition         |
|----|------------------|
| -  | subtraction      |
| *  | multiplication   |
| /  | division         |
| ** | exponent         |
| %  | remainder        |
| // | floored division |

In [10]:
a = 2
b = 3
a + b

5

In [11]:
2**3

8

In [13]:
5/3

1.6666666666666667

In [12]:
5//3

1

We can test for equality with our objects using `==`

In [14]:
5 == 5

True

### String operators

In [20]:
some_string = "this is cool"
print(some_string)

this is cool

In [25]:
a = 4

4

In [26]:
a = "TADA! "

In [27]:
a + a

'TADA! TADA! '

In [28]:
a * 10

'TADA! TADA! TADA! TADA! TADA! TADA! TADA! TADA! TADA! TADA! '

* cast an object to a string using `str()`

In [31]:
"the number is: " + str(5)

'the number is: 5'

#### String Indexing
**NOTE**: These same indexing techniques will carry over to python's other data structures

In [34]:
string = 'Hello World!'

print(string)          # complete string
print(string[0])       # first character of the string
print(string[2:5])     # characters starting from 3rd to 5th
print(string[2:])      # string starting from 3rd character
print(string * 2)      # string two times
print(string + "TEST") # concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

#### String Functions

Let's try some string functions! Functions concerning a particular type can be accessed through the dot notation.

In [44]:
a = "   TADA!    "
a

'   TADA!    '

In [45]:
a.strip() # removes whitespace from either end of the string

'TADA!'

In [46]:
a.lower() # makes all of the characters lowercase

'   tada!    '

In [47]:
a.count("A") # counts the number of occurences of A

2

In [48]:
a.split("A") # creates a list, by splitting all of the elements based on the letter A

['   T', 'D', '!    ']

* use the `len` function to get the number of characters in a string

In [54]:
len("abcd")

4

### Booleans

In [55]:
a = True
b = False
a and b

False

In [56]:
a or b

True

## Data Structures

### Vocabulary:
* `mutable`: We can add and remove elements
* `heterogenous`: The collection can have elements that are of different types.

### Types
* **List**: `mutable` Array of `heterogenous` elements
    - syntax: a = [1,2,3,"hello"]
    - operators: 
        1. []: indexing
        2. +: concatenation
        3. *: concat to self
    
* **range**: `immutable` collection of integers
    - syntax: range(10) numbers [0-9]
    - syntax: range(4, 10) numbers [5-9]
    - syntax: range(4,10,2) numbers [4,6,8] (the 2 signifies that we will skip every other number!)
    
* Python contains three other data structures: `tuple`, `dictionary`, and `set`. But we aren't going
to worry about them for now.

## Lists

### Creation / Indexing

* list creation

In [57]:
some_list = [1,2,3,4,5]
some_list

[1, 2, 3, 4, 5]

* list concatenation

In [58]:
list_one = [1,2,3,4,5]
list_two = [6,7,8,9,10]
list_three = list_one + list_two
list_three

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
list_one * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

* same indexing rules as a string

In [60]:
list_one[1]

2

In [61]:
list_one[1:3]

[2, 3]

In [62]:
list_one[1:]

[2, 3, 4, 5]

### List Functions

In [63]:
list_one = [5,3,1,2,4]
list_one

[5, 3, 1, 2, 4]

In [64]:
list_one.append(1000)
list_one

[5, 3, 1, 2, 4, 1000]

In [65]:
list_one.count(3)

1

In [66]:
list_one.sort()
list_one

[1, 2, 3, 4, 5, 1000]

* we can use `len()` native function, to get the length of a data structure

In [69]:
len([1,2,3])

3

### Range

In [70]:
a = range(11)
a

range(0, 11)

* Printing a range doesn't give us alot of information. So Lets try casting it to a list!

In [71]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

That's Better! Let's Look at some other ways of using range.

In [ ]:
list(range(1,11,2)) # skip every other number

In [74]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

## Flow Control
1. if/else 
2. for loops
3. while loops

* In flow control statements, we use indented blocks. You should indent by 4-spaces or a tab.
  The white space matters, and your program will throw an error if your code is not indented properly.

### If / elif/ else

In [78]:
a = 4
b = 2

# if statement
if a > b:
    print("a > b!!!")

a > b!!!

In [79]:
# if/else statement
if b > a:
    print("b > a")
else:
    print("a >= b")

a >= b

In [80]:
a = 4
b = 4
if a > b:
    print("a > b")
elif b > a: 
    print("b > a") 
else:
    print("a == b")

a == b

* remember we can use the `and` and `or` keywords!

In [81]:
a = 1
b = 2
c = 3
if (b > a) and (c > b):
    print("c > b > a")

c > b > a

### For Loops

* For loops will iterate through all of the elements of one of our data structures. Take a look!

In [88]:
a = [3,4,5, "some string", ["list", "in","list"]] # creates a list
for thing in a: # the variable I am calling value will be set to each element in the list!
    print(thing)

3
4
5
some string
['list', 'in', 'list']
-0.9880316240928618

In [83]:
# We often use a for loop to iterate over the elements in a range!
for i in range(1, 6):
    print("i:" + str(i))

i:1
i:2
i:3
i:4
i:5

* Understanding the code below is **VERY IMPORTANT**, because we will use this method often to access all of the elements in a list.

In [89]:
# we can access all of the elements of a list!
a = [10,20,30]
for i in range(len(a)):
    print(a[i])

10
20
30

* we can also use the `continue` and `break` keywords.
- `continue`: skips an iteration in a loop.
- `break`: exits the execution of a loop.

In [90]:
for i in range(5):
    if i==2:
        continue
    print(i)
print("[FINISHED]")

0
1
3
4
[FINISHED]

In [91]:
for i in range(5):
    if i==2:
        break
    print(i)
print("[FINISHED]")

0
1
[FINISHED]

### While Loops

In [ ]:
i = 1
a = 5
while (i < a):
    print(i)
    i = i + 1

In [93]:
a = [1,2,3,4,5]
for i,value in enumerate(a):
    print("i:", i, "  value:", value)

i: 0   value: 1
i: 1   value: 2
i: 2   value: 3
i: 3   value: 4
i: 4   value: 5

same thing

In [95]:
for i in range(len(a)):
    print("i:", i, "  value", a[i])

i: 0   value 1
i: 1   value 2
i: 2   value 3
i: 3   value 4
i: 4   value 5

# Questions

1.) <font color='red'> print all the numbers between 1-10 with the words `EVEN` and `ODD` pre-pended. Use a `for loop` and `range`.</font>
* example: 

`ODD 1`

`EVEN 2`
...

In [98]:
for i in range(1,11):
    if i % 2 == 0:
        print("EVEN", i)
    else:
        print("ODD", i)

ODD 1
EVEN 2
ODD 3
EVEN 4
ODD 5
EVEN 6
ODD 7
EVEN 8
ODD 9
EVEN 10

2.) <font color="red"> write a `for loop` that replaces every member of a list that is divisble by three with its value cubed. Use the `**` operator </font>

example: 

1->1

2->2

3->9

4->4

...

In [99]:
list_num = list(range(1,22)) # use this list
list_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [100]:
list_num = list(range(1,22)) # use this list
list_num

"""
code goes here ...
"""
for i in range(len(list_num)):
    if list_num[i] % 3 == 0:
        list_num[i] = list_num[i] **3

In [102]:
print(list_num)

[1, 2, 27, 4, 5, 216, 7, 8, 729, 10, 11, 1728, 13, 14, 3375, 16, 17, 5832, 19, 20, 9261]

3.) <font color="red"> use a `while loop` and to sum all of the numbers between [1,20] </font>
* check your answer using the formula: 

$$\sum_{i=1}^{n} = \frac{n(n+1)}{2}$$

In [ ]:
# while loop

In [ ]:
# equation

### Functions

* you can define your own functions using the def keyword

In [103]:
def do_stuff():
    print("things are being done ...")

do_stuff()

things are being done ...

* Lets provide some `positional arguments`

In [104]:
def do_more_stuff(a,b,c):
    print("a=" + str(a), "b=" + str(b), "c=" + str(c))
    
do_more_stuff(1,2,3)

a=1 b=2 c=3

* we can also provide `keyword arguments`. These are arguments that have defaults, and therefore do not necessarily have to be passed in.
* these aregument **HAVE TO** be placed after all of your positional arguments.

In [105]:
def check_it(a,b,c=10,d=20):
    print("a=" + str(a), "b=" + str(b), "c=" + str(c), "d=" + str(d))

check_it(1,2)    # using c and d defaults
check_it(1,2,22) # using d default
check_it(1,2,22,100) # no defaults
check_it(1,2,d=33)   # using c as a default

a=1 b=2 c=10 d=20
a=1 b=2 c=22 d=20
a=1 b=2 c=22 d=100
a=1 b=2 c=10 d=33

### Questions

* these questions are harder!!!

1. <font color="red"> write a function that sorts the numbers in `random_nums`</font>

In [ ]:
import random as rand

In [ ]:
random_nums = []
for i in range(20):
    random_nums.append(rand.randint(1,10))
random_nums

2. <font color="red"> Below I have defined two matrices. Fill out the matrix multiply method, so that we can see the result of the multiplication.</font>

$$
\begin{pmatrix} 
1 & 1 & 1 \\
2 & 2 & 2 \\
3 & 3 & 3 \\
\end{pmatrix} 
*
\begin{pmatrix} 
1 & 2 & 3 \\
1 & 2 & 3 \\
1 & 2 & 3 \\
\end{pmatrix}
=
\begin{pmatrix} 
3 & 6 & 9 \\
6 & 12 & 18 \\
9 & 18 & 27 \\
\end{pmatrix}
$$

In [ ]:
A = [[1]*3, [2]*3, [3]*3]
B = [[1,2,3]] * 3
print("A =",A)
print("B =",B)

* notice the word `pass` below. It is a placeholder we use when we haven't finished writing something. Delete the word `pass` and fill in your solution.

In [ ]:
def matrix_multiply(A,B):
    pass

In [ ]:
matrix_multiply(A,B)

## Challenge Questions
* These questions are for more advanced students who are familiar with python elements outside of this tutorial!

1.) <font color="red"> Use a dictionary comprehension to create a dictionary that maps every letter in the alphabet to its numeric position 
</font>

`example: a = {1:'a', 2:'b', 3:'c' ...}`

* should take you one line of code
* **Hint**: try using the functions `chr()` and `ord()`

2.) <font color='red'> print all of the prime numbers between 1 and 100 </font>
* Clever methods will only take one-two lines of code, but any solution will do.